variables:
  # Default GHC version
  GHC_VERSION: 9.6.4

  # https://docs.gitlab.com/runner/executors/custom.html#system-failure
  GET_SOURCES_ATTEMPTS: 5
  RESTORE_CACHE_ATTEMPTS: 5
  ARTIFACT_DOWNLOAD_ATTEMPTS: 5

  # We test all GHC version we support, so there is no use to fail if Clash
  # detects a known-to-be-broken compiler.
  CLASH_IGNORE_BROKEN_GHCS: "True"

stages:
  - trigger

branches:
  stage: trigger
  trigger:
    include: .ci/gitlab/branch.yaml
    strategy: depend
  parallel:
    matrix:
      # - CLASH_BRANCH: [release, master]
      - CLASH_BRANCH: [master]
